## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

## MSBuild
*.log
msbuild.wrn
msbuild.err

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## OS
.DS_Store
Thumbs.db
Desktop.ini

## User secrets
secrets.json

## Playwright
playwright/.cache/

## Docker
.dockerignore
