@inherits LayoutComponentBase

<div class="app-layout">
    <nav class="sidebar">
        <div class="sidebar-brand">
            <h3>BlazeCannon</h3>
            <span class="version">v0.1.0</span>
        </div>
        <ul class="nav-list">
            <li><NavLink href="/" Match="NavLinkMatch.All">Dashboard</NavLink></li>
            <li><NavLink href="/traffic">Traffic Inspector</NavLink></li>
            <li><NavLink href="/workbench">Payload Workbench</NavLink></li>
            <li><NavLink href="/scanner">Scanner</NavLink></li>
            <li><NavLink href="/browser">Browser Engine</NavLink></li>
        </ul>
    </nav>
    <main class="main-content">
        @Body
    </main>
</div>
